extends layout

block layout-content
	<section id="Page-title" class="Page-title-Style3">
				<div class="color-overlay"></div>
				<div class="container inner-page-title">
					<div class="inner-title-container">
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="title-text">
									<h2 class="page-title">Apply e-pass</h2>
								</div>
							</div>
							<div class="col-md-12 text-center">
								<div class="breadcrumb-trail breadcrumbs">
									<span class="trail-begin"><a href="index-3.html">Home</a></span>
									<span class="sep">/</span> <span class="trail-end">Apply e-pass</span>
								</div>
							</div>
						</div>
					</div>
				</div>
	</section>
			
			<!-- End Pages Title  -->			
			
	</header>
		<!-- End Section Header style1 -->

		<!-- Start Contact Us -->

		<div id="Contact" class="light-wrapper">
			<div class="container inner" style="padding-top:0px!important; padding-bottom:50px!important;">
				<div class="row">
					<div class="col-md-12">
						<!-- Start Map Style1 -->
						
				</div>
				<div class="divcod70"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="Contact-Form">
							
							
																					
							<div id="rslt">
								
	<form action="/epass" class="leave-comment contact-form" method="post"  id="num_sign"autocomplete="on" >
								<div class="Contact-us">



	<div class="form-input col-md-12"  style=" margin-top: 29px;">
								
	<label  style="font-weight: 500; margin-bottom: 9px;text-transform: uppercase;font-size: 13px;color: #686767;">Select Organisation</label>
	
	<select id="officer_id" name="officer_id" style='width: 100%;color: grey;height: 40px;border: 1px solid #d8cfcf;' required>
		<option value="">SELECT Organisation</option>
		<option value="8">Raj Bhawan Uttarakhand</option>
		<option value="5">Vidhan Sabha GoUK</option>
		<option value="2">ITDA GoUK</option>
		<option value="1">UK-Secretariat</option>
	</select>
	
								
	<span id="message" style="color: red; font-weight: 600;background: yellow;font-size: 18px;">
	</span>
						
	
								</div>




	<div class="form-input col-md-12"  style=" margin-top: 29px;">
								
	<label  style="font-weight: 500; margin-bottom: 9px;text-transform: uppercase;font-size: 13px;color: #686767;">Enter Your Mobile Number / अपना मोबाइल नंबर दर्ज करें</label>
	
	<input type="tel"  class="required number"  onkeypress=""  name="name" id="name" minlength="10" maxlength="10" style="height: 39px; width: 100%;padding-left: 10px; color: grey;border: 1px solid #e4e4e4;margin-bottom: 10px;">
								
	<span id="message" style="color: red; font-weight: 600;background: yellow;font-size: 18px;">
	</span>
						
	
								</div>

								<div class="form-submit col-md-12">
								<input name="num_sbmt" type="submit" id="num_sbmt" class="btn btn-large main-bg" value="Submit">

								
								</div>
								</div>
								</form>
								
	</div>

							
							
							
							
							
							</div>
	</div>
					</div>
					<div class="col-md-4">
						<div class="Contact-Info">
							<div class="tex-contact">
								
							</div>
							
							
							<div class="Block-Contact col-md-12">
								
							</div>				
						</div>		
					</div>
	</div>
			</div>
	</div>

		<!-- End Contact Us -->
		
		<!-- Start Footer -->
		
		<!-- End Footer  -->
		
		<!-- Start Footer Bootom  -->

		<div id="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<div class="copyright">
							<p>Uttarakhand Secratariat e-GatePass Portal © 2017. All Rights Reserved.</p>
							
						</div>
					</div>
					<div class="col-md-5 col-sm-5">
						<div class="fotter-follow bootom-footer-follow">
						<a href="#"> Disclaimer </a> | <a href="#">Copyright Policy</a> | <a href="#">Privacy Policy</a> | <a href="#">Hyper Linking Policy</a> | <a href="#"> Terms & Conditions </a> | <a href="help.html"> Help </a>
								| Design & Developed By ITDA, Uttarakhand
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- End Footer Bootom -->

	</div>
	
	<!-- Back to top Link -->
	<div id="to-top" class="main-bg">
	<span class="fa fa-chevron-up"></span>
	</div>
	</div>


	<!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery.flexnav.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox-media.js"></script>
	<script type="text/javascript" src="/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="/js/jflickrfeed.min.js"></script>
	<script type="text/javascript" src="/js/tweetie.min.js"></script>
	<script type="text/javascript" src="/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="/js/classie.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/wow.min.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
	</body>
	</html>